# 루트의 JSON 파일 무시
/orders.json
/positions.json
/*.json

# app 디렉토리 내부의 JSON 파일 무시
/app/*.json


# Python cache
__pycache__/
*.pyc

# IDE 설정
.vscode/
.idea/

# 환경 파일
.env

# 로그 파일
logs/
*.log

# OS 관련
.DS_Store
Thumbs.db

# 가상환경 (있다면)
venv/
*.egg-info/

# PyInstaller, build 결과물
dist/
build/

__pycache__/
*.pyc